# EXPRESS
PORT=3000
NODE_ENV=development

# POSTGRES 
SPRINT=1
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=postgres-db
DB_PORT=5432
DB_NAME=AIO_WFH

# POSTGRES SUPERUSER
POSTGRES_PASSWORD=admin

# POSTGRES ADMIN
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# CREDENTIALS_FOR_DEV
MOCK_PASSWORD=P@ssword123
JWT_SECRET=Vf0Bb8aEwKWNU7ISpN9VHdTCjx5jV51u
JWT_EXPIRATION=1h

# CREDENTIALS FOR AWS
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=